.root {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #1c1b1b92;
  color: #dbd3d3;
}
.contentContainer {
  padding: 1rem;
  width: 70%;
  overflow-y: scroll;
}
.taskDetailsHeader {
  display: flex;
  justify-content: baseline;
  margin-bottom: 40px;
}
.taskTitle {
  font-weight: 700;
  line-height: 1.1rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.taskDesc {
  word-break: break-all;
  line-height: 1.2rem;
  font-size: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.subTaskTitle {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.subTaskDesc {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  color: rgba(255, 255, 255, 0.7);
}

.sideBarContainer {
  width: 30%;
}

.sideBarRoot {
  padding: 1rem;
  background-color: #282828cc;
  height: 100%;
}

.completed {
  text-decoration: line-through;
}
