body {
  overflow-x: hidden;
}

.gutter {
  background-color: #333;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 1px;
  cursor: col-resize;
}

gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

/* custom styles for the scrollbar */
* {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #034d88;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #034d88;
}
